*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}

/* navbar starts */

#nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary);
}
#nav-div h1{
    /* margin: .5rem 2rem; */
    color:var(--text-primary);
}
#nav-div div{
    margin: .5rem 2rem;
}



#nav-div div a{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    background: var(--tertiary);
    border-color: var(--bg-primary);
    color: var(--text-primary);
    text-decoration: none;
    transition: background 0.2s;
    font-size: 18px;
    font-weight: 500;
    
}

#nav-div div a:hover{
    background: var(--secondary);
    color: #fff;
} 

/* body starts */
.main-content{
    padding: 1vw 3vw;
    height: 84.6vh;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.new-project-form{
    /* display:flex; */
    margin: 2rem 1rem;
}
.new-project-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4f6979 solid 1px;
}
.new-project-div div{
    border-radius: 5px;
    margin: 1.5rem 0.5rem !important;
}
.new-project-div div input{
    width: 100%;
    border: none;
}

.project-name{
    border: #6f8b8f solid 1px;
    /* margin: 0.25rem 0.5rem; */
    padding: 0.15rem 0.3rem;
    width: 90%;
    display: inline-block;
}


.project-language{
    border: #6f8b8f solid 1px;
    /* margin: 0.25rem 0.5rem; */
    padding: 0.15rem 0.3rem;
    width: 65%;
}
.project-tech{
    border: #6f8b8f solid 1px;
    /* margin: 0.25rem 0.5rem; */
    padding: 0.15rem 0.3rem;
    width: 65%;
}
.save-button-div{
    border:none !important;
    /* margin: 0.25rem 0.5rem; */
    padding: 0.5rem 0.3rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: flex-start;

}
.save-button-div input{
    padding: 0.3rem 0.6rem;
    border-radius: 30px;
    background: var(--tertiary);
    color: var(--text-primary);
    text-decoration: none;
    transition: background 0.2s;
    font-size: 15px;
    max-width: 5.7rem;
    /* min-width: 9.5rem; */
    font-weight: 600;
    text-align: center;
}
.edit-project input:hover{
    text-decoration: underline;
}


/* footer starts */

.footer-dark{
    background:var(--secondary);
    color: var(--bg-secondary);
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}