*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}

/* navbar starts */

#nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary);
}
#nav-div h1{
    /* margin: .5rem 2rem; */
    color:var(--text-primary);
}
#nav-div div{
    margin: .5rem 2rem;
}



#nav-div div a{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    background: var(--tertiary);
    border-color: var(--bg-primary);
    color: var(--text-primary);
    text-decoration: none;
    transition: background 0.2s;
    font-size: 18px;
    font-weight: 500;
    
}

#nav-div div a:hover{
    background: var(--secondary);
    color: #fff;
} 
/* body starts */
#main-content{
    background: url('../images/background1.webp') no-repeat center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 98vh;
    
}
#main-content div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
width: 90%;
    max-width: 323px;
    margin: 2rem 1rem;
    min-height: 600px;
    color: var(--text-primary);
    text-align: center;
    padding: 76px 69px; */

.card{
    width: 90%;
    max-width: 39%;
    margin: 2rem 1rem;
    min-height: 30rem;
    color: var(--text-primary);
    text-align: center;
    padding: 76px 69px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(234 241 249 / 34%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    transition: 0.2s;
}
.card:hover{
    backdrop-filter: blur(5px);
}

.card a,
.card p{
    text-decoration: none;
    color: var(--tertiary);
    transition: 0.3s;
}
.card a:hover{
    text-decoration: underline;
    color: var(--primary);
}

.bottom{
    background: url('../images/background3.webp') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.right-side{
    width: 75%;
}

.right-side div{
    width: 84%;
    max-width: 100%;
    margin: 2rem 5rem;
    min-height: 15rem;
    color: var(--primary);
    text-align: center;
    padding: 50px 31px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(203 218 245 / 42%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3px);
    transition: 0.2s;
}

.left-side div{
    width: 80%;
    max-width: 100%;
    margin: 2rem 1rem;
    min-height: 32rem;
    color: var(--primary);
    text-align: center;
    padding: 63px 47px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(203 218 245 / 42%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3px);
    transition: 0.2s;
    
}
.right-side div:hover,
.left-side div:hover{
    backdrop-filter: blur(5px);
}

.bottom a,
.bottom p{
    text-decoration: none;
    color: var(--tertiary);
    transition: 0.3s;
}
.bottom a:hover{
    text-decoration: underline;
    color: var(--primary);
}

/* footer starts */

.footer-dark{
    background:var(--secondary);
    color: var(--bg-secondary);
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}