*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}


/* body starts */
.main-content {
    padding: 1vw 3vw;
    height:100%;
    min-height: 85vh;
}


/* ------- css for the new guide link ----------- */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: end; */
    margin: 15px 20px;
    height: 5vh;
  }
  .new-project a {
    margin: 0 5px;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 12px;
    transition: 0.4s;
  }
  .new-project a:hover {
    color: #0a58ca;
    background: var(--primary);
    color: var(--white);
    padding: 6px 10px;
  }
  .new-project a i {
    font-size: 1.2rem;
  }
  /* css for the search box */
  #search-box {
    position: relative;
    /* overflow: hidden; */
  }
  #search-box input {
    background: rgb(226, 226, 226);
    border: none;
    outline: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 60px;
    transform: translate(-1000%, 0px);
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  #search-box input:hover {
    box-shadow: 2px 2px 8px rgb(139, 139, 139);
  }
  #searchBtn {
      background: transparent;
      margin: 0 10px;
      outline: none;
      box-sizing: none;
      padding: 7px 10px;
      border-radius: 50%;
      border: none;
      background: rgb(226, 226, 226);
      transition: background 0.2s;
      /* display: none; */
  }
  #searchBtn:hover {
      /* background: rgb(201, 201, 201); */
      box-shadow: 1px 1px 8px rgb(139, 139, 139);
  }
  