*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}


/* body starts */
#main-content{
    
    background-size: cover;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-height: 85vh;
    padding: 2rem;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 8px;
    border-bottom: 1px solid #111;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    margin: 12px 15px;
}

.form-select  {
    width: 50%;
}
