{% extends 'base.html' %}

{% block cssfile %}add_project.css{% endblock cssfile %}

{% block title %}New Project{% endblock title %}

{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}


{% block body %}
<div class="container main-content">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="#" method="post" class="new-project-form">
        {% csrf_token %}
        <div class="new-project-div">
            <div class="project-name">
                <input type="text" name="project_name" id="title" placeholder="Project Title" >
            </div>
            <div class="project-language">
                <input type="text" name="project_lang" id="lang" placeholder="Language" >
            </div>
            <div class="project-tech">
                <input type="text" name="project_tech" id="tech" placeholder="Any Other Technology Used" >
            </div>
            <div class="save-button-div">
                <input class="save-btn" type="submit" value="SAVE">
            </div>
        </div>
    </form>
</div>
{% endblock body %}


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}