{% extends 'base.html' %}

{% block title %}Allocate Projects{% endblock title %}

{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}

{% block body %}
<div  id="main-content">
    {{ projects|json_script:"projects"}}
    {{ rollNos|json_script:"rollNos"}}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <form autocomplete="off" action="#" method="post" name="allocate">
        <div class="form-container w-75 mx-auto">
            {% csrf_token %}
            <div class="rollNos ">

                <h5 class="h5">Roll Numbers of students</h5>
               
                    <div class="mb-3 ">
                        <label for="rollNo1" class="form-label">first RollNo</label>
                        <input type="tel" class="form-control" id="rollno1" >
                    </div>
                    <div class="mb-3 ">
                        <label for="rollNo2" class="form-label">first RollNo</label>
                        <input type="tel" class="form-control" id="rollno2" >
                    </div>
                


            </div>
            <div class="techInputs">
                <h5>Project Details</h5>


                <div class="project-title-div">

                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <!-- <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> -->
                        {% for proj in projects %}
                        <option value="{{ proj.title }}">{{proj.title}}</option>
                        {% endfor %}

                    </select>





                    <!-- <input type="text" name="project_title" id="project_title" placeholder="Project Title" required>
                        <select name="project_title" id="project_title" >
                            <option value="" >project_title</option>
                            {% for proj in projects %}
                                <option value="{{ proj.title }}">{{proj.title}}</option>
                            {% endfor %}
                           
                        </select> 
                    </div>  -->
                    <!-- <div class="project-desc">
                        <input type="text" name="lang" id="lang" placeholder="Project Language">
                        <input type="text" name="tech" id="tech" placeholder="Other Technologies">
                    </div> -->

                    <div class="mb-3">
                        <label for="projectLanguage" class="form-label">Project Language</label>
                        <input type="text" class="form-control" name="projectLanguage" id="projectLanguage" placeholder="javascript">
                      </div>
                    <div class="mb-3">
                        <label for="otherTech" class="form-label">Other Technologies</label>
                        <input type="text" class="form-control" name="otherTech" id="otherTech" placeholder="Node Js, ExpressJs">
                      </div>
                    <!-- <input type="submit" value="Allocate" id="submit"> -->
                    <p>To use custom project click <a href="#">Here.</a></p>
                    <button type="submit"  id="submit" class="btn btn-primary"> Allocate Project </button>

                </div>
            </div>
            </div>
    </form>
</div>

{% endblock body %}



{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}