{% extends 'base.html' %}
{% block title %}Allocate Projects{% endblock title %}
{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}
{% block body %}
<div class="container" id="main-content">
    {{ projects|json_script:"projects"}}
    {{ rollNos|json_script:"rollNos"}}

    {% if messages %}
        <ul class="messages">

    
        
          
    

        
    
    @@ -20,16 +20,18 @@
  
            {% for message in messages %}
                {% if message.tags %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <form autocomplete="off" action="#" method="post" name="allocate">
        <div class="form-container">
            {% csrf_token %}
            <div class="rollNos">

                <h5>Roll Numbers of students</h5>
                <div class="autocomplete">    
                    <input type="number" name="rollNo1" id="rollNo1" maxlength="11" placeholder="First RollNo" required>
                </div>
                <div class="autocomplete">
                    <input type="number" name="rollNo2" id="rollNo2" placeholder="Second RollNo (Optional)" maxlength="11">
                </div>

            </div>
            <div class="techInputs">  
                
                    <h5>Project Details</h5>
                    <!-- <input type="text" name="project_title" id="project_title" placeholder="Project Title" required> -->
                    <div class="project-title-div">
                        <select name="project_title" id="project_title" >
                            <option value="" >project_title</option>
                            {% for proj in projects %}
                                <option value="{{ proj.title }}">{{proj.title}}</option>
                            {% endfor %}
                           
                        </select>
                    </div>
                    <div class="project-desc">
                        <input type="text" name="lang" id="lang" placeholder="Project Language">
                        <input type="text" name="tech" id="tech" placeholder="Other Technologies">
                    </div>
                    <input type="submit" value="Allocate" id="submit">
                
            </div>
        </div>
    </form>
</div>
{% endblock body %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block script %}
<script src="../../static/staff/js/{{ js }}"></script>
{% endblock script %}