{% extends 'base.html' %}
{% block title %}Allocate Projects{% endblock title %}
{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}
{% block body %}
<div class="container" id="main-content">
    {{ projects|json_script:"projects"}}
    {{ rollNos|json_script:"rollNos"}}

<!-- --------------------------------------  -->  
  <!-- Modal for add project  -->
  <div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectlabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProjectlabel">Add a new Project </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
       <div class="addProjectForm">
        <!-- start of form1 from here  -->
        <form  id="form1" action="" method="post">
          {% csrf_token %}  
            <div class="mb-3">
              <label for="projectTitle" class="form-label">Project Ttile</label>
              <input type="text" class="form-control" name="projectTitle"  id="projectTitle1" required maxlength="30">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="langUsed1 class="form-label">Language Used </label>
              <input type="text" class="form-control" name="langUsed" id="langUsed1" required maxlength="25">
            </div>
            <div class="mb-3">
              <label for="otherTechUsed1" class="form-label"  >Other Technology Used </label>
              <input type="text" class="form-control" name="otherTechUsed" id="otherTechUsed1" required maxlength="25">
            </div>
            <div class="modal-footer">
             
              <button type="submit" class="btn btn-primary" name="addProject" id="addProject">Add Project</button>
              <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
           
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <!-- end of modal -->
  <!-- ----------------------------------------------- -->
    {% if messages %}
        <div class="messages">  
            {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message.tags }}</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <form autocomplete="off" action="#" method="post" name="allocate">
        <div class="form-container">
            {% csrf_token %}
            <div class="rollNos">

                <h5>Roll Numbers of students</h5>
                <div class="autocomplete">    
                    <input type="number" name="rollNo1" id="rollNo1" maxlength="11" placeholder="First RollNo" required>
                </div>
                <div class="autocomplete">
                    <input type="number" name="rollNo2" id="rollNo2" placeholder="Second RollNo (Optional)" maxlength="11">
                </div>

            </div>
            <div class="techInputs">  
                
                    <h5>Project Details</h5>
                    <!-- <input type="text" name="project_title" id="project_title" placeholder="Project Title" required> -->
                    <div class="project-title-div">
                        <select name="project_title" id="project_title" >
                            <option value="" >project_title</option>
                            {% for proj in projects %}
                                <option value="{{ proj.title }}">{{proj.title}}</option>
                            {% endfor %}
                           
                        </select>
                    </div>
                    <div class="project-desc">
                        <input type="text" name="lang" id="lang" placeholder="Project Language">
                        <input type="text" name="tech" id="tech" placeholder="Other Technologies">
                    </div>

                    <div class="new-project">
                        <a class="hover-underline-animation " data-bs-toggle="modal" data-bs-target="#addProjectModal">
                            Want a New Project <i class="fa fa-plus"></i>
                        </a>
                    </div>

                    <button type="submit" class="btn btn-primary" name="allocate" id="allocate">Allocate Project</button>
                
            </div>
        </div>
    </form>
</div>
{% endblock body %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block script %}
<script src="../../static/staff/js/{{ js }}"></script>
{% endblock script %}