{% extends 'base.html' %}

{% block cssfile %}/static/css/edit_project.css{% endblock cssfile %}

{% block title %}Edit Project{% endblock title %}

{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}


{% block body %}
<div class="container main-content">
    <div class="menu">
    
        <a class="btn  btn-danger" href="{% url 'delete-project' project.id %}">
            Delete
        </a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="#" method="post" class="new-project-form">
        {% csrf_token %}
        <div class="new-project-div">
            <div class="project-name">
                <input type="text" name="project_name" id="title" value="{{project.name}}" >
            </div>
            <div class="project-language">
                <input type="text" name="project_lang" id="lang" value="{{project.lang}}" >
            </div>
            <div class="project-tech">
                <input type="text" name="project_tech" id="tech" value="{{project.tech}}" >
            </div>
            <div class="save-button-div">
                <input class="save-btn" type="submit" value="SAVE">
            </div>
        </div>
    </form>
</div>
{% endblock body %}


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}