{% extends 'base.html' %}


{% block title %}Project wise allocation table{% endblock title %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}

{% block body %}
<div  id="main-content">
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Serial No.</th>
            <th>Roll No.</th>
            <th>Name / Father</th>
            <th>Project Title</th>
            <th>Language</th>
            <th>Guide Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
            {% if forloop.counter|divisibleby:2 %}
                <tr class="even">
                {% else %}
                <tr class="odd">
            {% endif %}    
                    
        
                <td>{{ forloop.counter }}</td>
                <td>{{ entry.student_1.rollNo}}</td>
                <td>{{ entry.student_1.name}} / {{ entry.student_1.fatherName}}</td>
                <td>{{ entry.project.name}}</td>
                <td>{{ entry.project.lang}}</td>
                <td>{{ entry.guide.name}}</td>
                <td>{{ entry.student_1.email }}</td>
                <td>{{ entry.student_1.mobile1}}, {{ entry.student_1.mobile2}}</td>
            </tr>

            {% if  entry.student_2%}
            {% if forloop.counter|divisibleby:2 %}
                <tr class="even">
                {% else %}
                <tr class="odd">
            {% endif %}
            
                <td>{{ forloop.counter }}</td>
                <td>{{ entry.student_2.rollNo}}</td>
                <td>{{ entry.student_2.name}} / {{ entry.student_2.fatherName}}</td>
                <td>{{ entry.project.name}}</td>
                <td>{{ entry.project.lang}}</td>
                <td>{{ entry.guide.name}}</td>
                <td>{{ entry.student_2.email }}</td>
                <td>{{ entry.student_2.mobile1}}, {{ entry.student_2.mobile1}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    
</div>
{%block script%}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );    
</script>


{%endblock script %}

{% endblock body %}



{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
