{% extends 'base.html' %}

{% block cssfile %}staff_dashboard.css{% endblock cssfile %}

{% block title %}Dashboard{% endblock title %}

{% block navbar %}
{% include 'header.html' %}
{% endblock navbar %}

{% block body %}
<div id="main-content">
    <div class="container">
        <div class="card">
            <a href="{%url 'allocate-project' 'all'%} " id="projects"><h1>Allocate Projects</h1></a>
            <p>Allocate projects to students by their roll numbers.</p>
            
        </div>
        <div class="card">
            <a href="{% url 'allocate-guide-group' 'all'%}" id="guides-groups"><h1>Allocate Guides / Groups</h1></a>
            
            <p>Allocate guides and groups to students by their roll numbers and projects allocated.</p>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="right-side">
        <div>
            <a href="{% url 'project-wise-table' 'all'%}"><h1>View Project Wise Allocation Table</h1></a>
            <p>Click here to view and download the project allocation table of class {{recent_class}}. </p>
        </div>
        <div>
            <a href="{% url 'guide-wise-table' 'all' %}"><h1>View Guide Wise Allocation Table</h1></a>
            <p>Click here to view and download the project allocation table of class {{recent_class}}. </p>
        </div>
    </div>
    <div class="left-side">
        <div>
            <a href="{% url 'all-project'%}"><h1>Add New Projects</h1></a>
            <p>Click here to add new project ideas and to view existing projects.</p>
        </div>
    </div>
</div>
{% endblock body %}



{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}