{% extends 'collegeAdmin/base.html' %}
{% block title %}Add New Guide{% endblock title %}

{% block navbar %}
{% include 'collegeAdmin/header.html'%}
{% endblock navbar %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <!-- <strong>Holy guacamole!</strong> -->
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
    <!-- A simple success alert—check it out! -->
   
  </div>
  {% endfor %}
       
  {% endif %}
<div class="container main-content">
    <form action="#" method="post" class="new-guide-form">
        {% csrf_token %}
        <div class="new-guide-div">
            <div class="guide-name">
                <input type="text" name="guide_name" id="name" placeholder="Guide Name" maxlength="25" required>
            </div>
        <div class="d-flex">
            <div class="mobile-number">
                <input type="tel" name="mobile1" id="mobile1" placeholder="Mobile 1" required >
            </div>
            <div class="mobile-number">
                <input type="number" name="mobile2" id="mobile2" placeholder="Mobile 2"required >
            </div>
        </div>
          
            <div class="email">
                <input type="email" name="email" id="email" placeholder="guidesemail@example.com" required>
            </div>
            
            <div class="save-button-div">
                <input class="save-btn" type="submit" value="SAVE">
            </div>
        </div>
    </form>
</div>

{% endblock body %}


{%block footer%}
{% include 'collegeAdmin/footer.html' %}
{%endblock footer%}
{% block script %} 
<script src="../../static/js/add_guide.js"></script>
{% endblock script %} 
