{% extends 'collegeAdmin/base.html' %}
{% block title %}All Guides{% endblock title %}

{% block navbar %}
{% include 'collegeAdmin/header.html'%}
{% endblock navbar %}

{% block body %}

<div class="new-guide">
    <a href="{% url 'add_guide'%}">
        Add New guide <i class="fa fa-plus"></i>
    </a>
</div>

<div id="menu-container">
    {% for user in users %}
     <!-- modal that take conformation to delete the guide  -->
<!-- modal start  -->
<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Guide </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you Sure to delete the guide ?
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary" href="{% url 'delete_guide' user.id %}">Yes</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal end  -->

        <div class="menu-items py-2 px-2">
            <div class="pencil">
                <a href="{{user.id}}">
                    <i class="fa fa-pencil "></i>
                </a>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal{{ user.id }}" id="delete">
                    <i class="fa fa-trash "></i>
                </a>
            </div>
            <div class="menu-icon">
                <img src="../../static/images/staff2.jpg" alt="staff-icon"  class="icon-img">
            </div>
                
            <div class="menu-heading text-center my-3 mx-2">
                <strong>
                    {{user.username}}
                </strong>

                {% if user.mobile1 != 0 %}
                    <strong>
                        {{user.mobile1}}
                    </strong>
                {% endif %}

                {% if user.mobile2 != 0 %}
                    <strong>
                        {{user.mobile2}}
                    </strong>
                {% endif %}

                <strong>
                    {{user.email}}
                </strong>
                
            </div>
        </div>

    {% endfor %}  
    
</div>
<div>

</div>


{% endblock body %}


{%block footer%}
{% include 'collegeAdmin/footer.html' %}
{%endblock footer%}
{% block script %}



{% endblock script%}