{% extends 'collegeAdmin/base.html' %}
{% block title %}All Sessions{% endblock title %}

{% block navbar %}
{% include 'collegeAdmin/header.html'%}
{% endblock navbar %}


{% block body %}

<div id="menu-container">
    {% for session in sessions %}
        <button  class="sessions" id="{{ session.id }}"><H1>{{ session.title }}</H1></button>
  
    {% endfor %}
   <!-- The Modal -->
    <div id="classes" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="cross" >
                <span class="close">&times;</span>
            </div>
        <table id="classes-table">
            <tr>
                <th>Class</th>
                <th>No of Students</th>
            </tr>
            
        </table>
        </div>
  
    </div>
  
</div>
{% endblock body %}

{%block footer%}
{% include 'collegeAdmin/footer.html' %}
{%endblock footer%}

