{% extends 'collegeAdmin/base.html' %}
{% block title %}All Sessions{% endblock title %}

{% block navbar %}
{% include 'collegeAdmin/header.html'%}
{% endblock navbar %}


{% block body %}

<div id="menu-container">
    {% for session in sessions %}
        <button  class="sessions" id="{{ session.id }}"><H1>{{ session.title }}</H1></button>
        {% comment %} <button  class="sessions" id="{{ session.id }}"><H1>{{ session.title }}</H1></button> {% endcomment %}
  
    {% endfor %}
   <!-- The Modal -->
    <div id="classes" class="modal"></div>
</div>
{% endblock body %}

{%block footer%}
{% include 'collegeAdmin/footer.html' %}
{%endblock footer%}

{% block script %} 
<script src="../../static/js/all_session.js"></script>
{% endblock script %} 

