
<nav id="nav-div">
  {% url 'edit_guide' user.id as edit %}
  {% url 'class' rawURL as thisClass %}

  {% if request.path == '/projectadmin/' %}
    <div>
      <h1>Welcome, {{user.username}}</h1>
    </div>
  
  {% elif request.path == '/projectadmin/allstaff/'%}
    <div>
      <h1>All Staff</h1>
    </div>
  
  {% elif request.path == '/projectadmin/allguides/'%}
    <div>
      <h1>All Guides</h1>
    </div>

  {% elif request.path == '/projectadmin/addguides/'%}
    <div>
      <h1>Add New Guide</h1>
    </div>
  {% elif request.path == edit %}
    <div>
      <h1>Edit Details of Guide</h1>
    </div>

  {% elif request.path == '/projectadmin/sessions'%}
    <div>
      <h1>Sessions</h1>
    </div>
  
  {% elif request.path == rawURL %}
    <div>
      <h1>Students | {{curr_class}}</h1>
    </div>
  {% endif %}
  
    
  

  {% url 'add_guide' as add %}
  {% if request.path == '/projectadmin/' %}
    <div>
      <a type="button" class="btn" href="/logout" >logout</a>
    </div>
    
  {% elif request.path == '/projectadmin/class/'%}
    <div>
      <a type="button" class="btn" href=" {% url 'sessions_url' %}" >Sessions</a>
    </div>

  {% elif request.path == edit %}
    <div>
      <a type="button" class="btn" href=" {% url 'all_guide' %}" >All Guides</a>
    </div>
  {% elif request.path == add %}
    <div>
      <a type="button" class="btn" href=" {% url 'all_guide' %}" >All Guides</a>
    </div>
  {% elif request.path == rawURL %}
    <div>
      <a type="button" class="btn" href=" {% url 'sessions' %}" >Sessions</a>
    </div>
  
  {% else %}
    <div>
      <a type="button" class="btn" href="{% url 'adminDashboard' %}" >Home</a>
    </div>

  {% endif %}
  </nav>



