*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-content {
    padding: 3.5rem 3rem;
    display: flex;
    /* justify-content: space-between; */
    max-width: 87vw;
    min-height: 44vh;
    margin: 0rem;
}
.left-side{
    background: url(../images/template.jpg) no-repeat center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 50vw;
 height: 70vh;
} 
.right-side {
    margin: 3rem 1rem;
    padding: 1rem 3rem;
}

.upper-right-heading {
    margin: 2rem 1rem;
}


.fields div{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    gap:8px;
}
.fields div i {
    margin: 1px 2px;
    font-size:1.5rem;
}

#submit {
    background: rgba(10, 185, 216, 0.863);
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    padding: 7px 15px;
    color: #fff;
    outline: none;
    border: none;
    margin: 5px 20px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 1rem;
    width: 300px;
    transition: background 0.5s;
}
#submit:hover {
    background: rgba(7, 151, 177, 0.863);
    font-weight: bold;
}
.input-field {
    outline: none;
    box-shadow: none;
    border:none;
    background: rgb(238, 238, 237) !important;
    padding: 7px 12px !important;
    border-radius: 9px;
    width: 300px !important;
}
.pass {
    outline: none;
    box-shadow: none;
    border:none;
    background: rgb(238, 238, 237);
    /* padding: 7px 12px; */
    border-radius: 9px;
    width: 300px;
}
 .fields div .pass i {
    font-size: 1rem;
    margin: 0 4px;
    cursor: pointer;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    margin-left: 9px;
}
.error {
    margin: 2px 0px;
    padding: 8px 15px;
    font-size: 1rem;
    font-family: sans-serif;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7 ;
    font-weight: 600;
    /* display: none; */
}
.error::placeholder{
    color: #8420288c;
}
.login-button {
    /* text-align: center; */
    margin: 15px 0;
}
.createACC {
    text-align: center;
}