* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}
.main-content {
    height: 100vh;
    width:100%;
    position:relative;
}

.container {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-guide-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: #4f6979 solid 1px; */
}
.new-guide-div input {
    width: 450px;
    outline: none;
    border:none;
    background: rgb(226, 226, 226);
    padding: 9px 14px;
    box-shadow: none;
    border-radius:9px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.new-guide-div div {
    border-radius: 5px;
    margin: 1.5rem 0.5rem !important;
}


.save-button-div .save-btn {
    background-color: rgb(16, 146, 233);
    color:white;
}
.edit-project a:hover {
    text-decoration: underline;
}

/* css for the footer ...... */
.footer-dark {
    background: var(--secondary);
    color: var(--bg-secondary);
}

#report {
    color: white;
    text-decoration: none;
}

#report:hover {
    color: white;
    text-decoration: underline;
}
/* css for the messge  */
.model {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    visibility: hidden;
    
}
.model div {
    position: relative;
    background: rgb(223, 223, 223);
    height:300px;
    width: 400px;
    padding: 1rem;
    border-radius:12px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.model div span {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: bolder;
    
    font-family:Arial, Helvetica, sans-serif;
}
.model div img {
    width: 200px;
}