*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: rgba(19, 120, 187, 0.938);
    --bg-primary: #fff;
    --bg-secondary: #fff;
    --bg-tertiary: #fff;
    --text-primary: #fff;
}

/* dashboard  starts*/

#nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#222;
    height: 10vh;
}
#nav-div h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: sans-serif;
    /* margin: .5rem 2rem; */
    color:var(--text-primary);
}
#nav-div div{
    margin: .5rem 2rem;
}
#nav-div div a{
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background: transparent;
    border:1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-family: monospace;
    transition: 0.4s;
    
}
#nav-div div a:hover{

    /* background-color: var(--bg-primary); */
    background: #fff;
    color: #000;

}
#main-content{
    /* min-width:100%;
    min-height:100vh; */
  background:var(--bg-tertiary);
  height: 100vh;
  width: 100%;
}

#menu-container{
display: flex;
justify-content: space-evenly;
height: 84vh;
align-items: center;
}

.menu-items{
    background-color: rgb(14 34 82 / 94%);
border-radius: 14px;
padding: 4rem 2rem;
}
.menu-items a{      
    text-decoration:none;
    color: var(--text-primary);
}
.menu-items a:hover{      
    text-decoration:none;
}

.icon-img{
max-width: 10rem;
min-width: 10rem;
max-height: 10rem;
min-height: 10rem;
border-radius: 50%;
}

.menu-heading{
display: flex;
justify-content: center;
margin: 2rem 1rem;

}
/* -------------- hover underline effect ------------------- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
    margin: 10px 0;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: -10px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s;
    /* margin: 3px 0; */

  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    margin: 3px 0;

  }
.footer-dark{
    height: 6vh;
    text-align: center;
    padding: 10px 0 0 0;
    background:black;
    color: var(--bg-secondary);
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
strong {
    text-transform: uppercase;
}
/* dashboard ends */