*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: rgba(19, 120, 187, 0.938);
    --bg-primary: #fff;
    --bg-secondary: #fff;
    --bg-tertiary: #fff;
    --text-primary: #fff;
}

/* dashboard  starts*/

#main-content{
    /* min-width:100%;
    min-height:100vh; */
  background:var(--bg-tertiary);
  height: 100vh;
  width: 100%;
}

.Container{
height: 84vh;
/* align-items: center; */
}
.Container h1 {
    padding: 1rem;
    height: 10vh;
}
#menu-container{
display: flex;
justify-content: space-evenly;
height: 74vh;
align-items: center;
}

.menu-items{
    background-color: rgb(14 34 82 / 94%);
border-radius: 14px;
padding: 4rem 2rem;
}
.menu-items a{      
    text-decoration:none;
    color: var(--text-primary);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.menu-items a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .menu-items a:hover:after { 
    width: 100%; 
    left: 0; 
  }


.icon-img{
max-width: 10rem;
min-width: 10rem;
max-height: 10rem;
min-height: 10rem;
border-radius: 50%;
}

.menu-heading{
display: flex;
justify-content: center;
margin: 2rem 1rem;

}

/* hover underline effect  */

  
.footer-dark{
    height: 6vh;
    text-align: center;
    padding: 10px 0 0 0;
    background:black;
    color: var(--bg-secondary);
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
strong {
    text-transform: uppercase;
}
/* dashboard ends */