
/* ------------ css for the main container --------------------- */
#main-content{
    /* min-width:100%;
    min-height:100vh; */
  background:var(--bg-tertiary);
}

#menu-container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 1rem 3rem 9rem;
min-height: 53vh;

}

.menu-items{
background-color: var(--primary);
color: var(--textColor);
border-radius: 14px;
/* padding: 4rem 2rem; */
min-width: 18rem;
min-height: 25rem;
margin: 3rem 2rem;

}

.pencil{
    display: flex;
    justify-content: end;
    padding: 0.5rem 1rem;
    transition: all 0.4s;

}
.pencil a i {
    color: var(--white);
    margin: 0 8px;
    cursor: pointer;
}
.pencil a i:hover {
    font-size: 1.2rem;
}

.menu-icon{
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon-img{
max-width: 10rem;
min-width: 10rem;
max-height: 10rem;
min-height: 10rem;
border-radius: 50%;
}

.menu-heading strong{
    display: block;
}

.edit-icon{
    align-self: flex-end;
}

.edit-icon i{
    font-size: medium;
}

/* ------- css for the new guide link ----------- */
.new-guide{

    text-align: end;
    margin: 15px 20px;
    height: 5vh;
}
.new-guide a{
    margin: 0 5px;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
.new-guide a:hover{
    text-decoration: underline;
}
/* end of the new guide  */
#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
