*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}


#main-content{
    height: 100vh;
    width:100%;
    position:relative;
}

#menu-container{
display: flex;
flex-direction: column;
/* justify-content: space-evenly; */
flex-wrap: wrap;
/* margin: 1rem 3rem 9rem; */
height: 84vh;
width:100%;
padding: 1.5rem 3rem; 
}

/* The Modal (background) */
.modal {
  position:absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100%;
  visibility: hidden;
  background: rgba(0,0,0,0.7);
  

  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 30px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 25vh;
    position: relative;
    padding: 2.5rem 1rem;
}
.sessions {
    outline:none;
    border:none;
    box-shadow: none;
    color:#fff;
    background: rgb(14 34 82 / 94%);
    padding: 0.5rem;
    border-radius: 12px;
}
.cross{
    position:absolute;
    top: 0px;
    right:15px;
    height: 20px;
    width: 20px;

}

/* The Close Button */
.close {
    color: rgb(80, 80, 80);
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 32px;
}
.table-row:hover{
    text-decoration: underline;
    cursor: pointer;

}

.footer-dark{
    background:var(--secondary);
    color: var(--bg-secondary);
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
/* dashboard ends */