*{
    margin:0px;
    padding: 0px;
  }


  :root {
    --primary:rgb(14 34 82 / 94%);
    --black: #000;
    --white:#fff;
    --textColor: rgb(230, 230, 230);
   
   }
<<<<<<< HEAD
   .left h1 {
       font-size: 1.3rem;
   }
=======
   
>>>>>>> 08e1da11e38578ae0c3d21f385f0a40a84712704


#main-content{
    /* min-width:100%;
    min-height:100vh; */
  background:var(--bg-tertiary);
}

#menu-container{
min-height: 70vh;
margin: 7vh 2rem;

}
#table_id {
    padding: 5px;
}

#table_id thead tr {
    background:var(--primary);
    color: var(--white);
}
<<<<<<< HEAD
#table_id_filter {
    margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: var(--primary);
    color: var(--white);
}

.dataTables_wrapper .dataTables_info , .dataTables_paginate {
    margin-top: 20px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid var(--primary);
=======
/* #menu-container table tr th{
    font-size: 25px;
} */



#report{
    color: white;
    text-decoration: none;
>>>>>>> 08e1da11e38578ae0c3d21f385f0a40a84712704
}
.footer-dark a {
    color: var(--white);
    text-decoration: none;
}

