*{
    margin:0px;
    padding: 0px;
  }


  :root {
    --primary:rgb(14 34 82 / 94%);
    --black: #000;
    --white:#fff;
    --textColor: rgb(230, 230, 230);
   
   }
   


#main-content{
    /* min-width:100%;
    min-height:100vh; */
  background:var(--bg-tertiary);
}

#menu-container{
display: flex;
flex-direction: column;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 1rem 3rem 9rem;

}

.count{
    margin: 0.5rem 2rem 0.2rem;
    text-align: right;
    font-weight: 800;
}
/* #menu-container table tr th{
    font-size: 25px;
} */



#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
/* dashboard ends */