*{
    margin:0px;
    padding: 0px;
  }
:root {
    --primary: #4f6979;
    --secondary: #607a83;
    --tertiary: #6f8b8f;
    --bg-primary: #928787;
    --bg-secondary: #bdab9b;
    --bg-tertiary: #ccbeae;
    --text-primary: #e1d5c8;
}

/* dashboard  starts*/

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
/* dashboard ends */

.container {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-guide-div {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #4f6979 solid 1px; */
}
.new-guide-div input {
    width: 450px;
    outline: none;
    border:none;
    background: rgb(226, 226, 226);
    padding: 9px 14px;
    box-shadow: none;
    border-radius:9px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.new-guide-div div {
    border-radius: 5px;
    margin: 1.5rem 0.5rem !important;
}


.save-button-div .save-btn {
    background-color: rgb(16, 146, 233);
    color:white;
}
.messages {
    background: rgb(31, 165, 31);
    color:lightgreen;
    padding: 6px 12px;
}