/* css for the main container */

.main-content {
    height: 100vh;
    width:100%;
    position:relative;
}

#report{
    color: white;
    text-decoration: none;
}
#report:hover{
    color: white;
    text-decoration:underline;
}
/* dashboard ends */

.container {
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-guide-div {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #4f6979 solid 1px; */
}
.new-guide-div input {
    /* width: 450px; */
    width:100%;
    outline: none;
    border:none;
    background: rgb(226, 226, 226);
    padding: 9px 14px;
    box-shadow: none;
    border-radius:9px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.new-guide-div div {
    border-radius: 5px;
    margin: 1.5rem 0.5rem !important;
}


.save-button-div .save-btn {
    background-color: rgb(16, 146, 233);
    color:white;
}
/* .messages {
     background: rgb(31, 165, 31); 
    color:lightgreen;
    padding: 6px 12px;
}
.error {
    background: rgb(165, 31, 31);
    color:lightgreen;
    padding: 6px 12px;
} */
.info,
.success,
.warning,
.error,
.validation {
	border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	/* max-width: 460px; */
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/error.png');
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/info.png');
}

.success {
	color: #4F8A10;
    padding: 15px 10px 15px 70px !important;
	background-color: #DFF2BF;
	background-image: url('../images/tick.png');
    background-size: contain;
}