*{
    margin:0px;
    padding: 0px;
  }


  :root {
    --primary:rgb(14 34 82 / 94%);
    --black: #000;
    --white:#fff;
    --textColor: rgb(230, 230, 230);
   
   }
   

/* --------------- css for the header & footer --------------------- */
#nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--black);
    height: 10vh;
}
#nav-div h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin: .5rem 2rem; */
    color:var(--textColor);
}
#nav-div div{
    margin: .5rem 2rem;
}


#nav-div div a{
    padding: 0.5rem 1.5rem;
    border-radius: 8%;
    background-color: var(--black);
    border-color: var(--white);
    color: var(--textColor);
    transition: 0.4s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#nav-div div a:hover{
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
}

.footer-dark{
    background:var(--black);
    color: var(--white);
    height: 5vh;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
