*{
    margin:0px;
    padding: 0px;
  }
:root {
 --primary:rgb(14 34 82 / 94%);
 --black: #000;
 --white:#fff;
 --textColor: rgb(230, 230, 230);

}

/* dashboard  starts*/



#menu-container{
display: flex;
justify-content: space-evenly;
margin: 9rem 1rem;
flex-wrap: wrap;
gap: 19px;
}

.menu-items{
    background:var(--primary);
border-radius: 14px;
/* padding: 4rem 2rem; */
min-width: 18rem;
min-height: 25rem;
box-shadow: 10px 7px 10px #0000007a;

}

.pencil{
    display: flex;
    justify-content: end;
    gap:12px;
    padding: 0.5rem 1rem;
    transition: all 0.4s;

}
.pencil a i {
    color: var(--white);
    margin: 0 5px;
}
.pencil a i:hover {
    font-size: 1.2rem;
}

.menu-items a{      
    text-decoration:none;
    color: var(--textColor);
}
.menu-items a:hover{      
    text-decoration:none;
}
.menu-icon{
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon-img{
max-width: 10rem;
min-width: 10rem;
max-height: 10rem;
min-height: 10rem;
border-radius: 50%;
}
.menu-heading{
    color: var(--textColor);

}

.menu-heading strong{
    display: block;
}

.edit-icon{
    align-self: flex-end;
}

.edit-icon i{
    font-size: medium;
}

.footer-dark{
    background: var(--black);
    color: var(--white);
}

#report{
    color: var(--white);
    text-decoration: none;
}
#report:hover{
    color: var(--white);
    text-decoration:underline;
}
/* dashboard ends */